Welcome to the Python I workshop hosted by Data Science Society @ Berkeley. We are glad you decided to participate. The execises below are practise of what we've shown in the presentation.

When we put in '...' we expect you to fill in that space with code.

# iPython Basics

### How to run a cell

In order to run a cell, we can use either (shift-enter) to run the current cell and move to the next one. Or we can use (ctrl-enter), to run the current cell and stay at the current cell

In [ ]:
print ("Run this line of code, and use shift-enter to go to the next")

In [ ]:
print ("Stay in place using ctrl-enter")

-When the box is green, you are editing the contents of a cell.
-When it is blue, we can use these shortcuts.
-We can press 'esc' to enter notebook mode, 'enter' on a cell to modify it.
-While in notebook mode, navigate using up and down arrow

### Basic Python

#### The print function

In [ ]:
print('Hello World')

#### Types of data

In [ ]:
# Integer
fruits = 5
vegetables = 6
grocery = fruits+vegetables
print(grocery)

# String
car = "Tesla"
lastinitial = "a" 
print(lastinitial)

# Floating point (Decimals)
# We can do different operations with it (addition, subtraction, multiplication, division)
a = 5.0
b = 3.26
c = -4
print(a+b+c)
print(a*b*c)
print(a+b-c)

# Variables

Run the cell below that assigns the variable days_in_a_leap_year to 366

In [ ]:
days_in_a_leap_year = 366

Assign the variable days_in_a_normal_year to 365

Find the total number of seconds in a decade using variables.

In [ ]:
seconds_in_a_day = ...

In [ ]:
hours_in_a_day = ...

In [ ]:
minutes_in_a_day = ...

In [ ]:
years_in_a_decade = ...

In [ ]:
seconds_in_a_decade = ...


seconds_in_a_decade

## Lists

A list can be ascribed to be a collection of several characters, string and/or variables.

In [ ]:
#Run the following cell to make a list of the elements 1, 2, 3, 4

list = ([1, 2, 3, 4])

In [ ]:
#We can find the length of a list with the following function

len(list)

In [ ]:
#Make a list with the names of your 3 top choices of ice-cream.
my_icecream = ...

## Conditionals

In [ ]:
print("The & (and) operator compares two values and evaluates to True when both values are True")
print(True & False)
print()
print("The | (or) operator compares two values and evaluates to True when one or more of then are True")
print(True | False)
print()
print("The '==' operator compares two values and evaluates to True when both values are equal")
d = 7
print(d == 7)
print()
print("The '!=' operator compares two values and evaluates to True when both values are not equal")
print(d != 5)
print()
print("In python, parentheses are evaluated first, then it goes left to right")
print((True & False) | (False | True))

### If/Else Statements

The If operator checks if the condition is satisfied. If it is not, it performs the action assigned to the else condition.

In [ ]:
x = 5
y = 2
if (x>y):
    print ("This is True!!")
else: 
    print ("This is False!!")
# The if/else will go in order

In [ ]:
#Set the variable x and y to a number such that it says "This is False!!"
x = ...
y = ...
if (x>y): 
    print ("This is True!!")
else: 
    print ("This is False!!")

#### Nested IFs

In [ ]:
x = 120
if (1000<x<10000):
    print ("x is four digit")
if (100<x<1000):
    print ("x is three digit")
if (0<x<100):
    print ("x is two digit")

In [ ]:
#make a conditional such that:  
#if x>0, 'positive' is reported; if x<0, 'negative' is reported; and if x is equal to 0, 'zero' is reported.
...

## Loops

For loops are a convenient way for us to execute a specific code a set number of times.

In [ ]:
for i in range(1,5):
    print(i)
print()
# The range function goes from the first argument, to the second bound, exclusive of the second bound.
# If only one argument given, starts from 0
for i in range(3):
    print(i)

In [ ]:
#Print all the numbers between 0 up to and including 100. 
...

In [ ]:
# We can also go through a list
flowers = ["Daisy", "Rose", "Tulip", "Hibiscus"]
for flower in flowers:
    print(flower)

In [ ]:
# Go through your earlier defined list my_icecream
...

#### While loops are special ways for us to repeatedly run a chunk of code until the expression passed is no longer True

In [ ]:
x = 0
while (x < 10):
    print("I love Python")
    x = x + 1

In [ ]:
# Create a while loop that prints "Hello World", while x is less than 100, and continuosly multiply x by 5.
x = 1
...

### List Comprehensions

In [ ]:
# Let us put all the numbers from 0-50 in a list
fifty_num = [x for x in range(50)]
print(fifty_num)
print()
# Let us select every flower that isn't Rose. 
new_flowers = [flower for flower in flowers if flower != "Rose"]
print(new_flowers)

#### List Splicing

In [ ]:
print(fifty_num)
print(fifty_num[1:36]) # Prints index 1 to index 36, exclusive of 36
# Syntax list[start:end:interval]
print()
print(fifty_num[48:3:-2]) # Prints the list backwards, starting from 48, to 3 exclusive of 3, by -2

In [ ]:
#Make a list of the first 100 numbers from 1-100. 
#Print the list of 1-100 in multiples of 10. 
...

## Functions

A function is a command that can produce a desired output from an input. The command that formulates a function can be generalised for inputs.

In [ ]:
# Below is the example of a simple function. 

def double(input):
    """Doubles whatever number is assigned to input"""
    return(input*input)
double (2)

In [ ]:
# Below is a function that combines the if loop. 

def sign(x):
    print(x, 'is', end=' ')
    if x > 0:
        print('positive')
    if x < 0:
        print('negative')
    if x == 0:
        print('zero')

In [ ]:
# Here is another function that returns the value 'True' or 'False' depending on whether 
# the input age falls within the age group defined for teenager. 
# Define the input range for x. 
def teen(x):
    return ...<= x <= ...

#Test your function

In [ ]:
# Make a function below that multiplies the input by 2 and then adds 7. 
...

## Arrays

For a collection of things in the world, an array is useful for describing a single attribute of each thing.

In [ ]:
#Run this cell
import numpy as np

In [ ]:
#We are going to make an array that contains numbers from 1 up to and including 100.

one_hundred = np.arange(1, 101, 1) # Prints index 1 to index 101, exclusive of 101, with a difference of 1 between each.
# Syntax np.arange(start,end,interval)
one_hundred

What if I want to perform operations like doubling all numbers by 2? Traditionally, I would have to double each element in the array. That is not very time-efficient. Thankfully, we can perform operations with the entire array, and each element will undergo the change we want it to.

In [ ]:
one_hundred*2

In [ ]:
#squaring it
squares = one_hundred*one_hundred
squares

In [ ]:
#finding the average of squares
np.mean(squares)

In [ ]:
#finding the sum of squares
np.sum(squares)

In [ ]:
# Arrays are indexed in the way that the first item is always 0.
# If I want to find the first and second item of the array 'squares': 
square_of_one = squares.item(0)
square_of_two = squares.item(1)
print(square_of_one)
print()
print(square_of_two)

In [ ]:
# Make an array of the cubes of the numbers between 1000 and 1100, inclusive of both. 
numbers = ...

cubes = ...

cubes

In [ ]:
# Find the mean and sum of the cubes. 

...

...

# What is the cube of 1061?

...

!!Challenge:
Use np.arange and the exponentiation operator ** to compute the first 30 powers of 2, starting from 2^0 and not inclusive of 2^30

In [ ]:
#Note about exponentiation factor; This is how it works: 

3**2

In [ ]:
powers_of_2 = ...

powers_of_2

## Tables

In [ ]:
# Run this cell

from datascience import *

In [ ]:
# The following data is 2016 sales figures for toyota cars.
Cars = make_array("Toyota Camry", "Toyota Avalon", "Toyota Corolla", "Toyota Prius")
Sales = make_array(388618, 48080, 378210, 101340)
Toyota_sales_by_model = Table().with_columns("Model", Cars, "Sales", Sales)
Toyota_sales_by_model

In [ ]:
# The Toyota Yaris was left out. Add its name and sales to the original table. 
Yaris = ['Toyota Yaris', 38855]
new_toyota_sales_by_model = Toyota_sales_by_model.with_row(Yaris)
# When adding multiple rows, the code is Toyota_sales_by_model.with_row(Yaris).with_row(x).with_row(y)
new_toyota_sales_by_model

In [ ]:
#Let's sort the table by highest sales.
new_toyota_sales_by_model.sort('Sales', descending = True)

In [ ]:
# What if you want the sum and average sales for Toyota?
# First select the data in the sales column 
sales_only = new_toyota_sales_by_model.column('Sales')
# This returns an array of the data in sales. Sum this data. 
np.sum(sales_only)

In [ ]:
# Finding the mean sales.
np.mean(sales_only)

In [ ]:
#'.column' selects data and makes them into an array. '.select' selects data and shows it in tabular format. 
# As seen: 
new_toyota_sales_by_model.select('Sales')
# The above function is used to yield a column when you want to append it to another table, or just select it as the 
# only one to keep.

In [ ]:
# Find models where sales are above 64000. 
sales_above = new_toyota_sales_by_model.where('Sales', are.above(64000))
sales_above

In [ ]:
# Make an array containing the names of the models whose sales are above 64000.
...

In [ ]:
# Find models where sales are between 10000 and 40000.

sales_between = new_toyota_sales_by_model.where('Sales', are.between(10000, 40000))
sales_between

In [ ]:
# Find the sales for the model Toyota Corolla

corolla_sales = new_toyota_sales_by_model.where('Model', are.equal_to("Toyota Corolla")).column('Sales')
corolla_sales

In [ ]:
#We want to add more toyota models to the sales data. 
Prius_C = ['Toyota Prius C', 20452]
Toyota_Sequoia = ['Toyota Sequoia', 12771]
Toyota_Cruiser = ['Toyota Land Cruiser', 3705]
#Add the above three models to the table new_toyota_sales_by_model
final_toyota_sales = ...
final_toyota_sales

In [ ]:
# Make an array of models from final_toyota_sales where sales are between 100000 and 400000.
...

In [ ]:
# Find the average sales of the models reported in the array above.
...

In [ ]:
top_10_movie_ratings = make_array(9.2, 9.2, 9., 8.9, 8.9, 8.9, 8.9, 8.9, 8.9, 8.8)
top_10_movie_names = make_array(
        'The Shawshank Redemption',
        'The Godfather',
        'The Godfather: Part II',
        'Pulp Fiction',
        "Schindler's List",
        'The Lord of the Rings: The Return of the King',
        '12 Angry Men',
        'The Dark Knight',
        'Il buono, il brutto, il cattivo',
        'The Lord of the Rings: The Fellowship of the Ring')
top_10_movie_years = (1994, 1972, 1974, 1994, 1993, 2003, 1957, 2008, 1966, 2001)

#Make a table containing the above arrays, with the headings "Year", "Name" and "Ratings", in that order.
top_10_movies = ...
top_10_movies

In [ ]:
# Sort the table by descending years.
...

In [ ]:
# Find the average rating of the movies released between 1990 and 2000, from the table top_10_movie_names.
average_rating = ...
average rating

In [ ]:
# Create a new table with only the columns "Name" and "Rating"
year_dropped = ...
year_dropped

In [ ]:
# Return an array of movies whose rating is equal to 8.9 
rating_below_9 = ...
rating_below_9